* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background: #f6e8eb;
  font-family: 'Share', cursive;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@import './variable';
@import './fonts';
@import './pages/home';
@import './pages/loader';
@import './parts/header';
@import './parts/navbar';
@import './parts/couple';
@import './parts/events';
@import './parts/moment';
@import './parts/location';
@import './parts/footer';
@import './components/counter';
@import './components/title';
@import './components/bridegroom';
@import './components/card';
