header {
  .container-fluid {
    height: 100vh;
    background: url('../../images/bg-1.jpg') center no-repeat;
    background-size: cover;
    color: #fefefe;

    .h1 {
      font-family: Great Vibes, cursive;
      font-size: 6rem;
      -webkit-text-stroke: 2px #fefefe;
    }

    .h4 {
      letter-spacing: 0.25vw;
    }

    @media only screen and (max-width: 576px) {
      .h1 {
        font-size: 4rem;
      }

      .h4 {
        font-size: 1.25rem;
      }
    }
  }
}
