header {
  .container-fluid {
    height: 100vh;
    padding: 0;

    .background {
      width: 100vw;
      height: 100vh;

      img {
        width: 100%;

        @media only screen and (max-width: $mobile) {
          height: 100%;
          object-fit: cover;
          object-position: 70%;
        }
      }
    }
  }

  .content {
    height: 100vh;
    color: $white;
    position: absolute;
    top: 0;

    .bridegroom {
      font-family: Great Vibes, cursive;
      font-size: 6rem;
      -webkit-text-stroke: 2px $white;
    }

    .desc {
      font-size: 1.5rem;
      letter-spacing: 0.25vw;
    }

    .date {
      font-size: 1.5rem;
    }

    @media only screen and (max-width: $mobile) {
      .bridegroom {
        font-size: 4rem;
      }

      .desc,
      .date {
        font-size: 1.25rem;
      }
    }
  }
}
