.location {
  min-height: 100vh;
  padding: 125px 0 125px 0;

  .row {
    width: 100%;
    height: 500px;

    @media only screen and (max-width: $mobile) {
      height: 700px;

      .maps-1 {
        margin-bottom: 8vh;
      }
    }

    iframe {
      width: 100%;
      height: 100%;
    }

    .h5 {
      color: $tertiary;
      font-size: 18px;
      margin-bottom: 0;
      text-align: center;
    }
  }
}
